

.pro-Container{
    color : white;
    height : 98vh;
    width : 97vw;
}

.projects
{
    height: 100%;
    width: 100%;
    display : flex;
    flex-direction: row;
}

.project-list{
    height : 97%;
    width : 40%;
    margin : 10px;
    
}

.project-slide{
    height : 97%;
    width : 60%;
    margin : 10px;
}

.list{
    margin : 150px 30px 0 30px;
}
.list > h3{
    font-size: 250%;  
  }

  .list > ol > li{
    font-size: 200%;  
  }

  .list > ol > li > a{
    text-decoration: none;
    color: white;  
  }

  .list > ol > li > a:hover{
    text-decoration: none;
    color: red;  
  }

.slider{
    margin-top: 130px;
}

.slick-dots > li > button:before {
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.slick-dots li.slick-active button:before {
    color:rgb(255, 0, 0) !important;
}

.slick-dots li button:before{
    color:rgb(255, 255, 255) !important;
}
  

.slider .slick-prev {
  left: -60px;
}

.slider .slick-next {
  right: -10px;
}

.slider > button {
    opacity: 1;
    height: 100%;
    width: 5vw;
    z-index: 1;

}

.slider > button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

.wrap > a > img{
    border-radius: 50px;
}