.abt-Container{
    margin : 0;
    color : white;
    height : 100vh;
    width : 98vw;
    /* border: 1px solid rgb(255, 0, 0); */
    padding-top: 5%;
    
}

.abt {
    /* border: 1px solid red; */
    cursor: pointer;
    padding : 0px 0 0 50px;
    font-size : 200%;
    color: white;
    /* text-decoration : underline;
    text-decoration-style: solid;
    text-decoration-color: red;
     */
} 

b:hover{
    color: red;
}

.abt-intro{
    /* border: 1px solid red; */
    margin: 0px 100px 100px 100px;
    /* padding : 0px 20px 20px 20px; */
}

.intro{
    /* border: 1px solid red; */
    margin-left: 8%;
    font-size: 180%;
    padding: 0.5%;
}

.tech-stack{
    margin-top: 8%;
    font-size: 93%;
}

.tech{
    font-size: 200%;
    position: relative;
    top: 5%;
}


@media(max-width : 767px){
    .abt-intro{
        font-size: small;
        margin : 0;
        padding: 0;
        width : 89vw;
    }
    .intro{
        margin : 26px;
    }
}

@media(max-width : 480px)
{
    .abt-Container{
        height : 100vh;
        width : 100vw;
        /* border: 1px solid white; */
        padding : 0;
        margin: 0;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > h2{
            margin: 0;
            padding: 0%;
        }
    }
    .abt-intro{
        font-size: 60%; 
        /* border: 1px solid white; */
        margin : 0;
        padding: 0;
        height : 100%;
        width : 89vw;
    }
    .tech{
        margin : 0;
        padding: 0;
        margin-top : 15%;
    }
    .intro{
        font-size: 175%;
    }
    .tech-stack{
        font-size: 90%;
        margin: 0;
        padding: 0;
    }
}