@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@200;300&family=Poppins:wght@500&family=Ysabeau+SC&display=swap');

body{
    font-family: 'Ysabeau SC', sans-serif;
}

.Container{
    margin : 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    height : 87vh;
    padding-top: 99px;
    /* border: 1px solid indianred; */
  }

.details{
    width : fit-content;
    /* border: 1px solid indianred; */
  }

.pic{
    margin-left: 10%;
    width : 30%;    
}
img{
    padding : 10px;
    height : 90%;
    width : 90%;
    border-radius: 40%;
    box-shadow: 2px 2px 4px red;   
}

.Name{
    width:fit-content;
    padding : 50px 0 0 100px; 
    position : relative;

}
.name > p{
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 0.3s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
}

.name{
    font-size: 300%;
    height : 100px;
    display: flex;
    margin-left : 150px;
    align-items: center;
    width: fit-content;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        background: red;
        position: absolute;
        animation: mainBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

     
        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: red;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }

.tag {
    margin-left : 250px;
    margin-top : 40px;
    font-size: 220%;
    width : 300px;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;

    .block {
      width: 0%;
      height: inherit;
      background: #e91e63;
      position: absolute;
      animation: secBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
      animation-delay: 2s;
      display: flex;
    }
  }
  .tag > p {
    animation: secFadeIn 1s forwards;
    animation-delay: 2.5s;
    opacity: 0;
  }

  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes secBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: red;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: red;
      opacity: 1;
      bottom: 45px;
    }
     65% {
        width: 7px;
      height: 7px;
        bottom: 0px;
        width: 15px
     }
     80% {
        width: 10px;
      height: 10px;
        bottom: 20px
     }
    100% {
      width: 7px;
      height: 7px;
      background: red;
      border: 0px solid #222;
      bottom: 13px;
  
    }
  }
  
  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


.icons{
    margin-left: 240px;
    /* border: 1px solid red; */
    width : 500px;
    height : 250px;
}

.icon{
    height: 15%;
    width: 15%;
    padding : 20px;
    transition: transform .3s ease-out;
}

.icons-img{
    padding : 20px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid pink; */

}

.icon:hover{
    transform : scale(1.2);
}

.resume{
    /* border: 1px solid wheat; */
    width : 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    
}

.res{
    height: 50px;
    width : 100px;
    border : 1px solid white;
    padding : 10px;
    border-radius: 20%;
    box-shadow: 2px 2px 4px red;   
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    cursor: pointer;
    transition: transform .3s ease-out;
}

.res > a{
    text-decoration: none;
    color : white;
    font-size: larger;
}

.res:hover{
    transform: scale(1.19);
}

@media (max-width : 767px) {
    .Container{
        flex-direction: column;
        width : 100%;
        height : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        /* border : 2px solid white; */
    }
    .pic{
        order : 1;
        /* position : relative; */
        /* left : 35%; */
        /* margin-top : -7%; */
        top : 0;
        margin: 0;
    }
    .details{
        /* border : 2px solid white;       */
        order : 2;
        width : 100%;
        align-items: center;
    }
    .Name > p{
      width: fit-content;
    }
    .Name{
        padding : 10px;
        /* margin-left: 5px; */
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name{
        margin-left : 40px; 
        font-size: 170%;
    }
    .tag{
        font-size: medium;
        width: fit-content;
    }

    .icons{
        margin-left: 0px;

    }

    .icons-img{
        margin-left: 20px;
    }

    .icon{
        width: 10%;
        height: 10%;
    }

    .res{
        height : 30px;
        width : 80px;
        font-size: medium;
    }
}


@media(max-width : 480px){
  .Container{
    padding : 0;
    padding-top:16%;
    border: 1px solid white;
    width : 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;

  }
  .pic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width : 100%;
    margin : 0;
    /* border : 1px solid white; */

  }
  .gova-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }

  .details{
    width : 100%;
    /* border : 1px solid red; */
    height : 100%;
    margin : 1px;
    display: flex;
    flex-direction: column;
  }

  .Name{
   /* border : 1px solid violet; */
   width : 95%; 
   height: auto;
  }

  .icons{
    width : 100%;
    /* border : 1px solid violet; */
    height : 100%;
    margin : 3px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .resume{
    margin : 0;
    height: 100%;
    width : 100%;
    padding-top: 1%;
    margin-left: 0;
    /* border : 2px solid red; */
    display: flex;
    justify-content: space-evenly;
  }

  .res{
    margin : 0;
  }

  .icons-img{
    width : 88%;
    height : 50%;
    margin : 0;
    padding-top : 0;
    padding-bottom : 0;
    /* border : 1px solid white; */
    & > a > img{
      height: auto;
      width: 90%;
      border-radius: 40%;
      box-shadow: 2px 2px 4px red;
    }
  }
}