@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fasthand&family=Manrope:wght@200&family=Montserrat:wght@200;300&family=Poppins:wght@500&family=Ysabeau+SC&display=swap');

.con-Container{
    height : 82vh;
    width : 97vw;
    color: white;    
    /* border : 1px solid red; */
    margin-top: 4%;
}


.Contain{
    height : 100%;
    width : 100%;
    display: flex;
    flex-direction: row;
    /* border : 1px solid red; */
}

.touch{
    width : 50%;
    display: flex;
    justify-content: center;
}

.talk{
    height: 70%;
    width: 79%;
    display: flex;
    flex-direction: column;
}

.talk > h1{
    font-size: 400%;
    margin: 0;
    

}

.talk > p{
    font-size: 175%;
    font-style: italic;
    

}

.form-email{
    text-decoration: none;
    color: rgb(255, 0, 255);
    text-transform: lowercase;
}

.form-find{
    font-size: 250%;
    margin : 0;
}

.find-me{
    margin : 0;
}

.find-me > li{
    list-style-type: none;
    position: relative;
    font-size: 200%;
    
    margin : 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.find-me > li > a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    color: white;
} 

.form-icon{
    cursor: pointer;
    padding: 0;
    height: 80%;
    width: 80%;
    position: relative;
    left : 20px;
    border-radius: 0;
    box-shadow: none;
}

.con-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-send{
    color: aliceblue;
    font-size: 200%;
}

form{
    display: flex;
    flex-direction: column;
    width : 60%;
    height : 70%;
}

form > input{
    border-radius: 5px;
    height : 2rem;
    box-shadow: 2px 2px 4px red;   
    background-color: black;
    color: aliceblue;
}

textarea{
    border-radius: 5px;
    box-shadow: 2px 2px 4px red;   
    background-color: black;
    color: aliceblue
}

.form-submit{
    width : 50%;
    position: relative;
    left : 50%;
    top : 30px;
    cursor: pointer;
}
.find-me-mobile
{
    display: none;
}
@media(max-width : 767px){
    .Contain{
        font-size: 60%;
        flex-direction: column;
        width : 89vw;
        margin: 0;
        padding: 0;
        height : 96vh;
    }
    .touch{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50%;
    }
    .talk{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .talk > h1{
        margin-left: 33%;
    }

    .con-form{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;
        
    }

    .form-send{
        margin: 0;
        padding: 0;
    }
    form{
        width: 80%;
    }
}

@media(max-width : 480px){
    .con-Container{
        height : 100vh;
        width : 100vw;
        border : 1px solid white;
        margin: 0;
    }

    .find-me{
        display: none;
    }

    .talk > p {
        text-align: center;
    }
    .Contain{
        width : 100%;
    }
    .touch{
        width : 100%;
    }
    .find-me-mobile{
        height: 100%;
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .find-icons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-left: -10%;
    }
    li{
        list-style: none;
    }
}