.navbar{
    margin:0;
    position: fixed;
    top:0;
    width : 100%;
    z-index: 10000;
    background-color: black;
}

.Nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nac-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.links > a{
    color: aliceblue;
    margin : 40px;
    padding : 15px;
    text-decoration: none;
    border: 1px solid White;
    border-radius: 5px;
    font-size: larger;
    transition: transform .3s ease-in-out;
}

.links:hover a{
        color: red;
        transform: scale(2);
        font-weight: bolder;
        padding : 20px;
}

@media (max-width : 767px) {
    .Nav{
        height : 50px;
    }
    
    .links > a{
        color: aliceblue;
        margin : 20px;
        padding : 8px;
        text-decoration: none;
        border: 1px solid White;
        border-radius: 5px;
        font-size: medium;
        transition: transform .3s ease-in-out;
    }
    
}